/* Css Styles Starts */

/* shared style */
body {
    font-family: 'Lato', sans-serif;
}

/* header style Start */
.header {
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 100px;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.banner-description {

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}

.btn-primary {
    border: 0px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

.banner-content {
    padding-right: 90px;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 50px 240px 0px 240px;
}

button:hover {
    background-color: #272727;
}

/* header style Ends */

/* Bonus Section Stuyle */
.bonus-section {

    text-align: center;
    margin: 100px 430px 100px 415px;

}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 47px;
}

.Image-section {
    display: flex;

}

.img1 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 24px;


}

#image1 {
    padding: 110px 78px 67px 76px;

}

.img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 24px;
}

#image2 {
    padding: 117px 47px 118px 47px;
}

.img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-right: 24px;
}

#image3 {
    padding: 67px 75px 67px 75px;
}

.fig {
    display: flex;
}

.text1 {
    text-decoration: underline;
    margin: 32px 380px 0px 160px;
}

.text2 {
    text-decoration: underline;
    margin: 32px 380px 0px 0px;
}

.text3 {
    text-decoration: underline;
    margin-top: 32px;
}


/* Hot-deal-section style starts */
.formate {
    display: flex;
    justify-content: space-between;
}

.hot-deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 400px 100px 395px;
    margin-bottom: 100px;
}

.text-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;

}

.text {
    padding-right: 200px;
    text-align: center;
}

.text-descripton {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/*hot deal section style ends*/




/* instagram section style starts */
.image-section {
    display: flex;
    display: contents;
}

.instagram {
    text-align: center;

}

.space {
    padding-right: 12px;
}

.insta-text {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
}

.insta-text-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

/* instagram section style ends */




/* latest deal section starts*/
.latest-deal {
    background-image: url('../Flower Asset/Rectangle 9.png');
    text-align: center;
    margin: 100px 430px 100px 415px;
    border-radius: 8px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
    margin-bottom: 0px;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 45px;
}

#input {
    width: 700px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 120px;
    padding-left: 20px;
}

.input-unit {
    align-items: center;
}

/* Latest deal section Ends */





/* footer section */
footer {
    text-align: center;

    background: #111010;
}

.flower-color {
    color: #FFFFFF;

}

.footer-heading {
    padding-top: 115px;
    margin-bottom: 24px;
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

.last-description {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 128px;
}

/* footer section ends */